/* EXPERIMENT PURPOSE CSS */
.calculator-container{
    width: 35%;
    /* display: none; */
}
.record-container{
    /* display: none; */
}


/* MANIPULATE CSS */
/* income and expense button */
.income-btn{
    background-color: #18dcff;
    color: white;
}
.expense-btn{
    background-color: #ff9f1a;
    color: white;
}


/* tooltip CSS */
.tooltip-js{
    cursor: pointer;
    position: relative;
}
.tooltip-js::after{
    /* content: "This is where you put your the TITLE of today's income or expense."; */
    font-size: 13px;
    /* display:none; */
    opacity: 0;
    position: absolute;
    background: wheat;
    top: -163%;
    left: 120%;
    width: 300px;
    padding: 10px;
    transition: opacity 1s;
    transform: scale(0);

}
.journal-Head-Tooltip::after{
    content: "This is where you put your the TITLE of today's income or expense.";
}
.journal-Cost-Tooltip::after{
    content: "This is where you put your the -COST in amount. This field is mandatory for the record";
}
.journal-Description-Tooltip::after{
    content: "If you want to record more about this record in detail, you can put it here. This field is optional";
}
.journal-Head-Tooltip:hover::after,.journal-Cost-Tooltip:hover::after, .journal-Description-Tooltip:hover::after{
    /* display: inline; */
    opacity: 1;
    transform: scale(1);
}

/* record container */
.record-container__container{
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}
.record-container__journalHeader{
    overflow: hidden;
}
.record-container__money{
    text-align:center;
}














@media only screen and (max-width: 1200px){
    .calculator-container{
        width: 55%;
    }
}
@media only screen and (max-width: 800px){
    .calculator-container{
        width: 75%;
    }
}
@media only screen and (max-width: 500px){
    .calculator-container{
        width: 95%;
    }
}