/* EXPERIMENT PURPOSE CSS */



/* MANIPULATE CSS */
body{
    background-color: #ddd;
    color: rgba(0, 0, 0, 0.69);
}


/* income and expense button */
.income-btn, .expense-btn{
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.103);
    font-weight:500;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.income-btn{
    color: rgba(0, 0, 0, 0.788);
    border: 2px solid #11d27898;
}

.expense-btn{
    color: rgba(0, 0, 0, 0.733);
    border: 2px solid #f33e0767;
}

.expense-btn:hover{
    background-color: #f33e07;
    color: rgba(252, 249, 249, 0.877);
    border: 2px solid #f33e07;
}
.income-btn:hover,.expense-btn:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.income-btn:hover{
    background-color: #11d278e5;
    color: rgba(250, 250, 250, 0.877);
    border: 2px solid #11d279;
}

/* tooltip CSS */
.tooltip-js{
    cursor: pointer;
    position: relative;
}
.tooltip-js::after{
    /* content: "This is where you put your the TITLE of today's income or expense."; */
    font-size: 13px;
    /* display:none; */
    opacity: 0;
    position: absolute;
    background: wheat;
    top: -163%;
    left: 120%;
    width: 300px;
    padding: 10px;
    transition: opacity 1s;
    transform: scale(0);

}
.journal-Head-Tooltip::after{
    content: "This is where you put your the TITLE of today's income or expense.";
}
.journal-Cost-Tooltip::after{
    content: "This is where you put your the -COST in amount. This field is mandatory for the record";
}
.journal-Description-Tooltip::after{
    content: "If you want to record more about this record in detail, you can put it here. This field is optional";
}
.journal-Head-Tooltip:hover::after,.journal-Cost-Tooltip:hover::after, .journal-Description-Tooltip:hover::after{
    /* display: inline; */
    opacity: 1;
    transform: scale(1);
}

/* record container */
.record-container__container{
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}
.record-container__journalHeader{
    overflow: hidden;
}
.record-container__money{
    text-align:center;
}
.record-container__btn{
    font-size: 13px;
}
.record-container__Details-btn{
    color: white;
}


.calculator-container{
    width: 25%;
}









@media only screen and (max-width: 1200px){
    .calculator-container{
        width: 55%;
    }
}
@media only screen and (max-width: 800px){
    .calculator-container{
        width: 75%;
    }
}
@media only screen and (max-width: 500px){
    .calculator-container{
        width: 95%;
    }
}